:root {
  --gray: #3c3b3a;
  --blue: #2077bc;
  --light-bg: #fcf7f6;
  --purple: #3b3a64;
  --orange: #f1642b;
  --yellow: #eda444;
  --dark-purple: #33475b;
  --dark-blue: #09202c;
  --shadow: 0px 0px 20px 0px #aeaeae;
  --animation: all 0.3s ease-in;
  --transform-scale: scale(1.03);
  --transform-left: translate(-5%, -50%);
  --border-left: 2px solid var(--purple);
  --border-right: 2px solid var(--purple);
  --border-bottom: 2px solid var(--purple);
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--purple);
  transition: var(--animation);
}

a:hover {
  color: var(--yellow);
}
.a-not-hover:hover {
  color: var(--purple) !important;
}

li {
  list-style: none;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

footer {
  min-height: 150px;
  background: var(--blue);
}

.main-wrapper {
  min-height: calc(100vh - 150px);
}

a {
  color: var(--purple);
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.text1 {
  color: #f1642b;
}

.bg1 {
  background: #f1642b;
}

.text2 {
  color: #3b3a64;
}

.bg2 {
  background: #3b3a64;
}

.font1 {
  font-family: "Inter", sans-serif;
}

.font2 {
  font-family: "Gentium Plus", serif;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* home page css start */
/* navbar css start */
.active {
  color: var(--blue);
}

.navbar-nav {
  max-width: 960px;
  width: 100%;
  height: 45px;
  background: #3c3b3a;
}

a.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  margin-top: 4px;
}

/* navbar css end */

/* footer page css end */
.footer-logo img {
  height: 113px;
  position: absolute;
  transform: translate(-50%, -50%);
}
/* footer page css start */
/* home page css end */


/*Contact Page*/
.post-content {
  max-width: 960px;
  margin: 0 auto;
}

.container-fluid.contact-page {
  margin: 80px 0px;
}

.contact-form {
  padding: 25px;
  background-color: #eef4fa;
  border-radius: 20px !important;
}

.form-control{
  border: none;
}

.form-group label{
  font-weight: 600;
}

/* responssive css start */

/* `xxl` extra-large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
}

/* `xl` extra-large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* `lg` large devices (tablets, less than 992px) */
@media (max-width: 992px) {
}

/* `md` medium  devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
}

/* `sm` small devices (portrait phones, less than 576px) */
@media (max-width: 578px) {
}

/* `xs` extra-small devices (phones, less than 320px) */
@media (max-width: 320px) {
}

/* responssive css end */
